{{> head }}
{{> navbar}}


<div class="row col-md-12">
    <div class="col-8">
        <h1>LabRats Code</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolorum. Assumenda, eius voluptate natus repudiandae quisquam laborum recusandae sit tenetur voluptatum iste a aut culpa, eos velit pariatur nobis aliquid!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/labRatsPng.png" alt="" class="img-thumbnail">
    </div>
</div>



{{> footer }}